body {
  --font-size: 20px;
  --primary-color: #3a79ff;
  --btn-primary-background: #d2e1ff;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: var(--font-size);
}

@media (min-width: 576px) {

  html,
  body {
    --font-size: 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", "Arial", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.25em;
  color: #3d4f9f;
}

h3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.25em;
  text-align: center;
  color: #3d4f9f;
}

p {
  letter-spacing: 0.03em;
}

.text--thin {
  font-weight: 300;
}

button {
  padding: 0px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1206px;
  padding: 0 15px;
  word-break: break-word;
}

.container--full-width {
  padding: 0px;
  max-width: 100%;
}

.title {
  color: #3d4f9f;
  margin: 0 auto;
}

.subtitle {
  color: #3d4f9f;
  font-size: 0.67rem;
  letter-spacing: 0.04em;
  font-weight: 600;
}

.description {
  line-height: 1.93em;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.overflow-hidden {
  overflow: hidden;
}

/*********** buttons ***********/
.btn {
  height: 43px;
  padding: 0px 16px;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  color: var(--primary-color);
  background: #d2e1ff;
  border-radius: 2px;
  border: 0px;
  width: 112px;
  font-weight: 600;
  display: none;
}

.btn--primary:hover {
  background-color: #bfcce7;
}

.btn--primary {
  display: none;
}

.btn--secondary {
  background: #e8ecf4;
  border-radius: 2px;
  font-size: 0.87rem;
  line-height: 1.23em;
  color: #7382a3;
  border: none;
}

.btn--secondary:hover {
  background: #6767ff;
  color: #fff;
}

.btn--danger {
  font-weight: bold;
  color: #d43f3f;
  background: #ffd7d7;
  border-radius: 2px;
  border: none;
  width: 112px;
}

.btn--danger:hover {
  background-color: #ffa9a9;
}

.btn--light {
  margin-left: 20px;
  background-color: #fff;
  font-weight: bold;
  font-size: 0.87rem;
  color: #a6b6da;
  border: none;
}

.btn--light:hover {
  background-color: #f1f1f1;
}

.btn--link {
  color: #adb4d2;
  background: #f5f8ff;
  border: 1px solid;
}

.btn--blue {
  background: #4c85ff;
  color: #fff;
  border: 0;
}

.btn--outline {
  background-color: transparent;
  border: 1px solid #2750a7;
}

.btn--outline:hover {
  background-color: #efefef;
  color: #858383;
}

.btn--grey {
  color: #adb4d2;
  border: 1px solid #d1d1e4;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn--submit {
  height: 59px;
  background: #4d6ce1;
  color: #fff;
  padding: 16px 66px;
  border-radius: 5px;
  border: none;
}

.btn--submit:hover {
  background-color: #8888ff;
}

.btn--lg {
  width: 130px;
  letter-spacing: 0.03em;
}

.btn--long {
  background: #e8ecf4;
  color: #7382a3;
  border-radius: 2px;
  width: 195px;
  letter-spacing: 0.04em;
}

.btn--play {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  border-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn--play img {
  width: 10px;
  height: 10px;
}

.btn--group {
  display: flex;
  justify-content: center;
}

.btn--group .btn:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn--group .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn--center {
  align-items: center;
}

.btn--shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn--rounded {
  border-radius: 2px;
}

.btn--price {
  font-weight: bold;
  background-color: #ffffff;
  color: #565f82;
  border: 0;
  padding: 0px 26px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.btn--price:hover {
  background-color: #d5d5d5;
}

.btn--read-doc {
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.23em;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  color: #c7d3ff;
  border: 1px solid #c7d3ff;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.btn--read-doc:hover {
  background: linear-gradient(229.32deg, #164ae5 12.77%, #164ae5 73.11%);
  color: #FFF;
}

/*.btn--action {
  display: none;
}*/

/*********** slider ***********/
.slider {
  left: 50%;
  transform: translateX(-50%);
  bottom: 27px;
}

.slider-item {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: relative;
  border: 0px;
  background-color: #d1d6e3;
}

.slider-item+.slider-item {
  margin-left: 8px;
}

.slider-item:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}

.slider__nav {
  display: flex;
  justify-content: center;
}

/*********** header ***********/
.header {
  background: #ffffff;
  height: 80px;
  border-bottom: 1px solid #d8e3fe;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.logo {
  margin-right: 73px;
}

.header .menu {
  display: none;
}

.menu__item {
  font-size: 0.8rem;
  line-height: 1em;
  letter-spacing: 0.09em;
}

.socials {
  display: flex;
  align-items: center;
  margin-right: 44px;
}

.social:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}

.social+.social {
  margin-left: 35px;
}

.menu-triger--active {
  position: relative;
  width: 28px;
  height: 15px;
  top: -6px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #5e81fe;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/*media header*/
@media (max-width: 576px) {
  .header .btn--primary {
    display: none;
  }
}

@media (min-width: 576px) {
  .header .btn--primary {
    display: none;
  }

  .menu-trigger {
    display: block;
  }
}

@media (min-width: 992px) {
  .header .menu {
    display: block;
  }

  .menu__item {
    color: #697ca6;
    font-weight: 600;
    text-decoration: none;
  }

  .menu__item:not(:last-child) {
    margin-right: 38px;
  }

  .menu__item:hover {
    color: #2750a7;
    cursor: pointer;
  }

  .menu__item--active {
    color: var(--primary-color);
  }
}

@media (min-width: 1200px) {
  .menu-triger--active {
    display: none;
  }

  .header .btn--primary {
    display: block;
  }
}

@media (min-width: 1400px) {
  .menu {
    display: block;
  }
}

/*********** Hero ************/
.section--hero {
  position: relative;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 90px 0px 26px;
  border-bottom: 1px solid #d8e3fe;
}

.section--hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 157px;
}

.text--thin {
  text-align: center;
}

.section--hero .subtitle {
  margin-bottom: 18px;
  letter-spacing: 0.1em;
}

.section--hero .description {
  margin-top: 23px;
  text-align: center;
  letter-spacing: 0.02em;
}

.section--hero .slider {
  display: contents;
}

/*media hero*/
@media (min-width: 768px) {
  .section--hero .description {
    width: 495px;
  }
}

@media (min-width: 1200px) {
  .section--hero .slider__nav {
    position: relative;
  }
}

/*********** partners-section ***********/
.section--partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 145px;
  border-bottom: 1px solid #d8e3fe;
}

.section--partners .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: unset;
}

.partner {
  display: flex;
  height: 29px;
}

.partner:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}

.partner:nth-of-type(2) {
  height: 24.29px;
}

.partner:nth-of-type(3) {
  height: 22.37px;
  display: none;
}

.partner:nth-of-type(4) {
  height: 24.07px;
  display: none;
}

.partner:last-child {
  margin-right: 0px;
  height: 28.94px;
  display: none;
}

/*media partner*/
@media (min-width: 768px) {
  .partner:nth-of-type(3) {
    display: block;
  }
}

@media (min-width: 992px) {
  .partner:nth-of-type(4) {
    display: block;
  }
}

@media (min-width: 1200px) {
  .section--partners .container {
    margin: 0 auto;
  }

  .partner {
    display: flex;
    height: 29px;
    margin-right: 76px;
  }

  .partner:nth-of-type(5) {
    display: block;
  }

  .section--partners .slider__nav {
    display: none;
  }
}

/*********** plan and manage ***********/
.section--plan {
  padding-top: 58px;
  background: #f5f8ff;
}

/*.plan__left {
  margin-bottom: 20px;
}*/

.section--plan .subtitle {
  margin-bottom: 28px;
  letter-spacing: 0.1em;
  text-align: center;
}

.section--plan .description {
  margin: 22px 0px 58px 0px;
  text-align: center;
}

.plan__pic {
  width: -webkit-fill-available;
}

@media (min-width: 576px) {
  /*  .plan__left {
    padding-bottom: 20px;
  }*/
}

@media (min-width: 992px) {
  .section--plan {
    padding-top: 165px;
  }

  .section--plan .container {
    display: flex;
    flex-direction: row;
    overflow: unset;
  }

  .plan__left {
    margin: 40px 55px 0px 50px;
  }

  .section--plan .subtitle,
  .title,
  .description {
    text-align: left;
  }

  .section--plan .description {
    text-align: left;
  }

  .btn--group {
    justify-content: left;
  }

  .plan__right {
    padding-bottom: 100px;
  }

  .plan__pic {
    width: 567px;
  }
}

@media (min-width: 1200px) {
  .section--plan {
    padding: 116px 0px 198px;
  }

  .plan__left {
    padding-top: 90px;
    position: relative;
    left: 152px;
    width: 412px;
    margin: 0px 84px 0px 0px;
  }

  .plan__right {
    position: relative;
  }

  .plan__pic {
    position: absolute;
    bottom: -17px;
    left: 124px;
  }
}

@media (min-width: 1400px) {
  .plan__pic {
    position: absolute;
    width: auto;
    bottom: -108px;
    left: 93px;
  }
}

/*********** features ***********/

.section--features {
  background-image: url(../img/features.jpg);
  background-size: cover;
}

.section--features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 761px;
  padding: 0px;
}

.section--features .title {
  margin-bottom: 92px;
  font-size: 2.67rem;
  margin-bottom: 50px;
}

.section--features .subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.09em;
}

.fea__table {
  display: flex;
  margin-bottom: 110px;
}

.fea_table_line {
  width: 28px;
  height: 0px;
  border: 1px solid #dae4fe;
  margin: 128px 17px 0px 20px;
}

.fea_table_col {
  text-align: center;
  width: 140px;
}

.col__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5ff;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.homeicon,
.filesicon,
.chatsicon,
.saveicon {
  width: 44px;
  height: 55px;
}

.fea_h3 {
  font-size: 1.73rem;
  line-height: 0.96em;
  color: #4074f8;
  margin-top: 35px;
}

.fea__text,
.fea__or {
  font-size: 1.2rem;
  line-height: 1.8em;
  color: #adb3cb;
  margin-top: 32px;
  letter-spacing: 0.05em;
}

.fea__line {
  border: 1px solid #dae4fe;
  width: 15px;
  height: 0px;
  margin: 20px 14px 0px 17px;
}

.fea__or {
  margin-top: 4px;
}

.section--features .btn--primary {
  display: block;
}

@media (max-width: 576px) {
  .section--features {
    padding: 50px 15px;
  }

  .fea__table {
    flex-direction: column;
    margin-bottom: auto;
  }

  .fea_table_col {
    padding-bottom: 20px;
    width: 100%;
  }

  .fea_table_line {
    display: none;
  }

  .section--features .btn--group {
    flex-direction: column;
  }

  .fea__or {
    margin: revert;
    text-align: center;
    padding-top: 2px;
  }

  .fea__line {
    display: none;
  }
}

@media (min-width: 576px) {
  .section--features {
    padding-bottom: 58px;
    padding-top: 58px;
  }

  .fea__table {
    margin-bottom: 20px;
  }

  .fea_table_col:nth-of-type(4) {
    display: none;
  }

  .fea_table_line:nth-of-type(3) {
    display: none;
  }

  .fea_table_col:nth-of-type(3) {
    display: none;
  }

  .fea_table_line:nth-of-type(2) {
    display: none;
  }
}

@media (min-width: 992px) {
  .section--features {
    padding-bottom: 58px;
    padding-top: 58px;
  }

  .fea_table_col:nth-of-type(4) {
    display: block;
  }

  .fea_table_line:nth-of-type(3) {
    display: block;
  }

  .fea_table_col:nth-of-type(3) {
    display: block;
  }

  .fea_table_line:nth-of-type(2) {
    display: block;
  }
}

@media (min-width: 1200px) {
  .section--features {
    padding-top: 171px;
    padding-bottom: 171px;
  }

  .section--features .subtitle {
    margin-bottom: 20px;
    font-size: 0.67rem;
  }

  .section--features .title {
    margin-bottom: 92px;
    font-size: 1.6rem;
  }

  .fea__table {
    flex-direction: row;
    margin-bottom: 105px;
  }

  .fea_h3 {
    font-size: 1rem;
  }

  .fea__text,
  .fea__or {
    font-size: 0.73rem;
  }

  .fea__or {
    margin-top: 10px;
  }

  .fea_table_line {
    display: block;
  }

  .col__item {
    height: 70px;
    width: 70px;
  }

  .col__item img {
    width: 26px;
    height: 20px;
  }

}

/*********** stats ************/
.section--stats .container {
  display: flex;
}

.stats__left {
  display: flex;
  align-items: end;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  flex-grow: 1;
  flex-direction: column;
  padding: 66px 90px 66px 0px;
  margin: 0;
}

.stats__right {
  display: flex;
  justify-content: center;
  align-items: start;
  background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
  flex-grow: 1;
  flex-direction: column;
  padding: 70px 0px 66px 90px;
  margin: 0;
}

.stats__left-value {
  margin: 0px;
  font-weight: normal;
  line-height: 1.73em;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 3px;
}

.stats__left-content {
  width: 259px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.28em;
  text-align: right;
  color: #ffffff;
  margin: 0;
  letter-spacing: 0.04em;
}

.stats__left-pic {
  width: 65px;
  height: 66px;
  margin-bottom: 14px;
}

.stats__right-value {
  margin: 0px;
  font-family: Quicksand;
  font-size: 3.2rem;
  line-height: 1.73em;
  color: #5e80ff;
  margin: 15px 0px -31px -4px;
}

.stats__right-content {
  width: 260px;
  font-family: Quicksand;
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 0.03em;
  color: #5e80ff;
  margin: 32px 0px 0px 0px;
}

.stats__right-pic {
  width: 71px;
  height: 62px;
}

@media (max-width: 768px) {
  .section--stats .container {
    flex-direction: column;
  }

  .stats__left,
  .stats__right {
    padding: 30px 0px;
    align-items: center;
  }

  .stats__left-content,
  .stats__right-content {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .section--stats .container {
    flex-direction: row;
  }
}

/*********** Blog ************/
.section--blog {
  padding: 59px 0px 0px 0px;
  margin: 0 auto;
  background: #f5f8ff;
}

.section--blog .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section--blog .subtitle {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
}

.section--blog .title {
  margin-bottom: 15px;
}

.blog__content {
  display: flex;
  align-items: center;
  max-width: 1160px;
}

.content__page {
  display: flex;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #d8e3fe;
  box-sizing: border-box;
  box-shadow: 0px 15px 50px #eff4ff;
  margin: 0px 75px;
}

.content__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__arrow:hover {
  cursor: pointer;
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}

.content__arrow:first-child {
  margin-right: 15px;
}

.content__arrow:last-child {
  transform: rotate(180deg);
  margin-left: 15px;
}

.page__left {
  height: 270px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 13px 13px;
  padding: 57px 64px 63px 31px;
}

.page_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 63px 0px 65px 0px;
}

.page__pic:first-child {
  grid-area: 1 / 1 / span 2 / span 3;
}

.page__pic,
.page__pic,
.page__pic {
  border-radius: 5px;
}

.page__pic {
  width: 100%;
  max-height: 100%;
}

.page__pic:first-child {
  height: -webkit-fill-available;
  object-fit: fill;
}

.page__pic:nth-of-type(2) {
  height: -webkit-fill-available;
  object-fit: fill;
}

.page__pic:nth-of-type(3) {
  height: -webkit-fill-available;
  object-fit: fill;
}

.section--blog .description {
  font-size: 0.93rem;
  line-height: 1.93em;
  margin-bottom: 44px;
}

.slider--blog {
  padding-top: 98px;
  position: relative;
  display: flex;
  justify-content: center;
}

.btn--primary {
  display: block;
}

.btn--light {
  margin: 15px 0px;
}

@media (max-width: 576px) {
  .content__page {
    flex-direction: column;
    margin: auto;
  }

  .page__left {
    padding: 32px 20px 50px;
  }

  .page_right {
    align-items: center;
    padding: 0px 14px;
  }

  .section--blog .title {
    text-align: center;
  }

  .section--blog .description {
    text-align: center;
    padding: 0px 15px;
  }

  .btn--primary {
    margin: auto;
  }

  .slider--blog {
    padding-top: 65px;
  }
}

@media (min-width: 576px) {
  .content__page {
    flex-direction: column;
    margin: auto;
  }

  .page__left {
    margin: auto;
  }

  .page_right {
    text-align: center;
    padding: 0px 0px 65px 0px;
  }

  .section--blog .description {
    padding: 0px 15px;
  }

  .btn-blog-group {
    flex-direction: row;
    display: flex;
    margin: auto;
  }

  .btn--light {
    margin: 0 auto;
  }

  .section--blog .btn--primary {
    margin-right: 15px;
  }

  .slider--blog {
    padding-top: 65px;
  }

}

@media (min-width: 992px) {
  .section--blog {
    padding: 106px 0px 77px 0px;
  }

  .section--blog .title {
    margin-bottom: 92px;
  }

  .page__pic {
    width: auto;
  }

  .page_right {
    display: block;
    padding: 63px 0px 65px 0px;
  }

  .page_right .title {
    margin: auto;
  }

  .content__page {
    flex-direction: row;
  }

  .section--blog .description {
    padding: 0px;
    margin-bottom: 45px;
    margin-top: 25px;
  }

  .btn--light {
    margin: 0;
    padding-left: 25px;
  }

  .slider--blog {
    padding-top: 127px;
  }

  .slider--blog .slider-item+.slider-item {
    margin-left: 12px;
  }
}

@media (min-width: 1200px) {
  .content__arrow:first-child {
    margin-right: 75px;
  }

  .content__arrow:last-child {
    margin-left: 75px;
  }
}

/*********** quotes ************/
.section--quotes {
  overflow: hidden;
}

.section--quotes {
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
  padding: 50px 0px;
}

.section--quotes .container {
  flex-direction: column;
  display: flex;
}

.quotes__left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding-bottom: 54px;
}

.quotes__left .title {
  font-size: 2.4rem;
  line-height: 1.25em;
  color: #3d4f9f;
  margin-bottom: 4px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.quotes__left .subtitle {
  line-height: 0.8em;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
}

.quotes__left .description {
  font-size: 0.8rem;
  line-height: 1.92em;
  letter-spacing: 0.07em;
  color: #a4abc8;
  text-align: center;
  margin: 0 auto;
}

.quotes__right {
  position: relative;
  font-size: 0.93rem;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: #676f95;
}

.section--quotes .slider {
  position: relative;
}

.section--quotes .slider__nav {
  display: flex;
  justify-content: center;
}

.section--quotes .slider__view {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.section--quotes .slider__portal {
  display: flex;
  padding-bottom: 30px;
}

.section--quotes .slider__slide-message {
  padding: 38px 70px 40px 68px;
  background-color: #fff;
  text-align: center;
}

.slider__slide.slider__slide--shadow {
  border: 1px solid #d8e3fe;
  opacity: 0.45;
  position: inherit;
  width: max-content;
}

/*.section--quotes .slider__slide {
  position: relative;
}*/

.slider__slide-image {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider__nav {
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}

.slider__nav-item {
  background: #d1d6e3;
  width: 8px;
  height: 8px;
  border: 0px;
  border-radius: 50%;
}

.slider__nav-item+.slider__nav-item {
  margin-left: 12px;
}

.slider__nav-item:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}

.slider__slide--shadow {
  position: absolute;
  right: -100%;
  max-width: 600px;
  display: none;
}

@media (min-width: 576px) {
  .section--quotes .slider__portal {
    width: 514px;
  }

  .section--quotes .slider__slide-message {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .section--quotes .container {
    overflow: initial;
  }

  .section--quotes {
    padding: 139px 0px 84px 0px;
  }

  .quotes__left {
    min-width: 333px;
  }

  .section--quotes .container {
    flex-direction: row;
  }

  .quotes__left {
    margin: 0px 31px 0px 172px;
  }

  .quotes__left .title {
    margin: 0;
    text-align: left;
    padding-bottom: 18px;
  }

  .quotes__left .subtitle {
    margin: 10px 0px 35px 0px;
    padding-bottom: 0px;
  }

  .quotes__left .description {
    margin: 0;
    text-align: left;
  }

  .quotes__right {
    left: 103px;
  }

  .section--quotes .slider__view {
    padding-bottom: 26px;
  }

  .section--quotes .slider__portal {
    width: auto;
  }

  .section--quotes .slider__slide-image {
    bottom: 56px;
    left: 209px;
  }

  .slider__slide--shadow {
    display: block;
  }

  .slider__slide.slider__slide--shadow {
    width: 423px;
  }

  .section--quotes .slider__slide:first-child {
    padding-right: 60px;
    width: 423px;
  }

  .section--quotes .slider__slide-message {
    text-align: start;
  }

  .section--quotes .slider__nav {
    left: -245px;
  }
}

/*********** customer_help ***********/

.section--customer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 44px 15px;
}

.section--customer .subtitle {
  margin-bottom: 21px;
  letter-spacing: 0.1em;
}

.section--customer .title {
  margin-bottom: 54px;
  letter-spacing: 0.01em;
}

.questions {
  max-width: 728px;
}

.questions__item {
  display: flex;
  border-bottom: 1px solid;
  letter-spacing: 0.04em;
  color: #8e96b7;
  padding: 28px 0px 27px 0px;
  font-family: Quicksand;
}

.questions__item.questions__item--active {
  padding: 29px 0px 14px 0px;
  border-color: #8e96b7;
  letter-spacing: 0.05em;
}

.questions__item-content {
  display: flex;
  align-items: center;
  padding: 10px 6px 26px 16px;
}

.section--customer .description {
  padding: 15px 44px 0px 2px;
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 0.93rem;
  flex-grow: 1;
  flex-basis: 0;
}

.questions__item:nth-of-type(3) {
  font-weight: bold;
  color: #495274;
}

.questions__item:last-child {
  padding-top: 31px;
}

.questions__icon-wraper {
  padding: 0px 22px 0px 16px;
}

.questions__item.questions__item--active .questions__vektor {
  transform: rotate(180deg);
}

.questions__item:hover {
  background-color: #e7e7e736;
  cursor: pointer;
}

.questions__vektor:hover {
  filter: invert(46%) sepia(69%) saturate(1507%) hue-rotate(206deg) brightness(101%) contrast(100%);
}

@media (max-width: 576px) {
  .questions__item-content {
    flex-direction: column;
  }

  .section--customer .btn--secondary {
    margin-top: 12px;
  }
}

@media (min-width: 992px) {
  .section--customer .container {
    padding: 174px 0px 174px 0px;
  }
}

/*********** Get started ***********/

.section--get {
  padding: 91px 0px;
  background-image: url(../img/content.jpg);
  background-position: center;
  background-size: cover;
}

.section--get .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section--get .title {
  font-size: 3.2rem;
  margin-bottom: 23px;
  color: white;
}

.section--get .subtitle {
  margin-bottom: 16px;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 400;
}

.section--get .description {
  max-width: 712px;
  margin: 0 auto 54px;
  line-height: 1.93em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media (min-width: 576px) {
  .section--get {
    padding: 88px 0px;
  }
}

/*********** newsletter ***********/
.section--newsletter {
  border-bottom: 1px solid #d8e3fe;
  padding: 109px 0px 121px 0px;
}

.section--newsletter .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newsletter--left {
  display: flex;
  flex-direction: column;
}

.section--newsletter .subtitle {
  letter-spacing: 0.04em;
  font-size: 1.2rem;
  margin: auto;
}

.section--newsletter .discription {
  font-size: 0.93rem;
  line-height: 1.92em;
  letter-spacing: 0.03em;
  color: #8d96bd;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  padding-top: 14px;
  flex-direction: column;
}

.newsletter__form {
  margin-right: 80px;
}

.e-mail {
  height: 59px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  color: #7a85ad;
  background: #efeff7;
  font-weight: 700;
}

@media (max-width: 576px) {
  .e-mail {
    padding-left: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 576px) {
  form {
    flex-direction: row;
  }

  .e-mail {
    margin: 0px 10px 0px 0px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  form {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .section--newsletter .container {
    flex-direction: row;
  }

  .newsletter--left {
    margin-right: 100px;
    width: 480px;
  }

  .section--newsletter .subtitle {
    margin: 12px 0px 14px 172px;
  }

  .section--newsletter .discription {
    margin: 0px 0px 0px 174px;
    text-align: start;
  }

  .e-mail {
    padding: 0px 87px 0px 25px;
  }
}

/*********** footer ***********/
.footer {
  background: #ffffff;
  padding: 32px 0px 16px 0px;
}

.footer .container {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
  flex-direction: column;
}

.footer .menu {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.footer__left {
  padding-bottom: 16px;
}

.footer .logo {
  margin-right: 73px;
}

.footer .menu__item {
  color: #697ca6;
  font-weight: 600;
  text-decoration: none;
  font-size: 0.8rem;
  letter-spacing: 0.04em;
}

.footer .menu__item:not(:last-child) {
  margin-right: 44px;
  letter-spacing: 0.06em;
}

.footer .menu__item:hover {
  color: #2750a7;
  cursor: pointer;
}

.footer .menu__item--active {
  color: var(--primary-color);
}

.footer .menu__item {
  padding-bottom: 5px;
}

.socials {
  display: flex;
  align-items: center;
  margin-right: 44px;
}

.social+.social {
  margin-left: 35px;
}

.footer .btn--action {
  display: none;
}

.copyright {
  color: #aeb8d0;
  font-size: 0.8rem;
  letter-spacing: 0.08em;
}

@media (max-width: 576px) {
  .footer .container {
    text-align: center;
    align-items: center;
  }

  .footer .logo {
    margin: auto;
  }

  .menu__item {
    margin: 0;
  }

  .footer .menu__item:not(:last-child) {
    margin: 0;
    padding-bottom: 10px;
  }

  .footer .menu__item {
    padding-bottom: 0px;
  }

  .footer .socials {
    margin: 0;
  }
}

@media (min-width: 576px) {
  .footer {
    padding: 32px 0px 16px 0px;
  }

  .footer .menu {
    padding-top: 0px;
  }

  .footer .container {
    padding-bottom: 50px;
    flex-direction: row;
  }

  .footer__left {
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
  }

  .container.copyright {
    padding-left: 114px;
  }
}

@media (min-width: 768px) {
  .footer .menu__footer {
    flex-direction: row;
    padding-top: 5px;
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 98px 0px 16px 0px;
  }

  .footer__left {
    align-items: center;
  }

  .footer .menu {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    padding-bottom: 29px;
  }

  .footer__right {
    display: flex;
  }

  .footer .btn--action {
    display: block;
  }
}