@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  /**line-height: 29px;***/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", "Arial", sans-serif;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
}
p {
  letter-spacing: 0.03em;
}

.text--thin {
  font-weight: 300;
}
button {
  padding: 0px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
}
.title {
  color: #3d4f9f;
  margin: 0 auto;
}

.subtitle {
  color: #3d4f9f;
  font-size: 10px;
  letter-spacing: 0.04em;
  font-weight: 600;
}

.description {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

/*********** buttons ***********/
.btn {
  height: 43px;
  padding-left: 16px;
  padding-right: 16px;
}
.btn:hover {
  cursor: pointer;
}
.btn--primary {
  color: #3a79ff;
  background: #d2e1ff;
  border-radius: 2px;
  border: 0px;
  width: 112px;
  font-weight: 600;
}
.btn.btn--secondary {
  background: #e8ecf4;
  border-radius: 2px;
  font-size: 13px;
  line-height: 16px;
  color: #7382a3;
  border: none;
}
.btn--light {
  margin-left: 20px;
  background-color: #fff;
  font-weight: bold;
  font-size: 13px;
  color: #a6b6da;
  border: none;
}
.btn--danger {
  font-weight: bold;
  color: #d43f3f;
  background: #ffd7d7;
  border-radius: 2px;
}
.btn--grey {
  color: grey;
  border-color: grey;
}
.btn--outline {
  background-color: transparent;
  border: 1px solid #2750a7;
}
.btn--lg {
  width: 130px;
}
.btn--long {
  background: #e8ecf4;
  border-radius: 2px;
  width: 195px;
}
/*********** slider ***********/
.slider {
  left: 50%;
  transform: translateX(-50%);
}
.slider-item {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: relative;
  border: 0px;
  background-color: #d1d6e3;
}
.slider--active {
  background-color: #5283ff;
}
.slider-item + .slider-item {
  margin-left: 8px;
}
/*********** header ***********/
.header {
  background: #ffffff;
  height: 80px;
  border-bottom: 1px solid #d8e3fe;
}
.header__left {
  /*padding-right: 364px;*/
}
.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.logo {
  height: 26px;
  width: 26px;
  background-color: #5e81fe;
  border: 0px;
  border-radius: 50%;
  margin-right: 73px;
}

/*.menu-trigger {
  margin-right: 44px;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #5e81fe;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.menu-triger--active span:nth-of-type(1) {
  -webkit-transform: translateY (20px) rotate (-45deg);
  transform: translateY(20px) rotate(-45deg);
}

.menu-trigger.menu-triger--active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.menu-triger--active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}
*/
.menu {
  display: none;
}
.menu__item {
  color: #697ca6;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:not(:last-child) {
  margin-right: 42px;
}

.menu__item:hover {
  color: #2750a7;
  cursor: pointer;
}

.menu__item--active {
  color: #3a79ff;
}

.socials {
  display: flex;
  align-items: center;
  margin-right: 44px;
}

.social + .social {
  margin-left: 35px;
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .menu {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}

/*********** Hero ************/

.section.section--hero {
  position: relative;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: bottom;
  padding-top: 92px;
  border-bottom: 1px solid #d8e3fe;
}

.container--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 208px;
}

.subtitle--hero {
  padding-bottom: 18px;
}
.description--hero,
.plan__text {
  margin-top: 23px;
  width: 495px;
  text-align: center;
}

.btn.btn--play {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  border-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn.btn--play img {
  width: 10px;
  height: 10px;
}
.slider-hero {
  bottom: 20px;
  position: absolute;
}

/*********** partners-section ***********/
.section.section--partners {
  display: flex;
  justify-content: center;
  min-height: 145px;
  border-bottom: 1px solid #d8e3fe;
}
.part__container {
  display: flex;
  align-items: center;
}

.partner {
  display: flex;
  height: 29px;
  margin-right: 76px;
}

.partner:hover {
  background-color: aquamarine;
  transition-property: background-color;
  transition-duration: 1s;
}
.partner:nth-of-type(2) {
  height: 24.29px;
}
.partner:nth-of-type(3) {
  height: 22.37px;
}
.partner:nth-of-type(4) {
  height: 24.07px;
}
.partner:last-child {
  margin-right: 0px;
  height: 28.94px;
}
/*********** plan and manage ***********/
.section.plan--manage {
  padding-top: 116px;
  background: #f5f8ff;
  padding-bottom: 226px;
}
.plan__container {
  display: flex;
  max-width: 1160px;
  margin: 0 auto;
}
.container--plan {
  display: flex;
}
.subtitle--plan {
  padding-bottom: 28px;
  letter-spacing: 0.07em;
}
.plan__left {
  padding-top: 90px;
  position: relative;
  left: 136px;
  width: 412px;
  margin-right: 84px;
}

.description--plan {
  margin: 22px 0px 58px 0px;
}
.btn.btn--video {
  background: #4c85ff;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  font-weight: bold;
  color: #ffffff;
}

.btn.btn--secondary.btn--lg {
  letter-spacing: 0.03em;
}

.btn__pic {
  padding-left: 4px;
}

.btn.btn--link {
  color: #adb4d2;
  background: #f5f8ff;
  border: 1px solid;
}
.plan__right {
  position: relative;
}
.plan__pic {
  position: absolute;
  left: -44px;
}

.btn-group {
  display: flex;
}

.btn.btn--secondary {
  background: #4c85ff;
  border-radius: 2px;
  color: #fff;
}

.btn.btn--outline.btn--grey {
  color: #adb4d2;
  border: 1px solid #d1d1e4;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*********** features ***********/

.section.section--features {
  background-image: url(../img/features.jpg);
  background-size: cover;
  padding-bottom: 171px;
  padding-top: 171px;
}

.container--features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title--features {
  margin-bottom: 92px;
}
.subtitle--features {
  padding-bottom: 20px;
}
.fea__subtitle {
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3d4f9f;
}
.fea__title {
  font-size: 24px;
  line-height: 30px;
  color: #3d4f9f;
  margin-bottom: 90px;
}
.fea__table {
  display: flex;
  margin-bottom: 110px;
  min-width: 760px;
}
.fea_table_line {
  width: 28px;
  height: 0px;
  border: 1px solid #dae4fe;
  margin: 128px 20px 0px 20px;
}

.fea_table_col {
  text-align: center;
  width: 140px;
}

.col__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5ff;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.homeicon {
  width: 18px;
  height: 21px;
}

.col__item:nth-of-type(2) {
  width: 23px;
  height: 14px;
}
.col__item img:nth-of-type(3) {
  width: 17.75px;
  height: 15px;
}
.col__item img:nth-of-type(4) {
  width: 17.25px;
  height: 15.5px;
}

.fea_h3 {
  font-size: 14px;
  line-height: 25px;
  color: #4074f8;
  margin-top: 30px;
}

.fea__text,
.fea__or {
  font-size: 11px;
  line-height: 19px;
  color: #adb3cb;
  margin-top: 26px;
  letter-spacing: 0.06em;
}

.fea__line {
  border: 1px solid #dae4fe;
  width: 15px;
  height: 0px;
  margin: 0px 17px 0px 17px;
}

.btn-features-group {
  display: flex;
  align-items: center;
}
.btn.btn--danger {
  border: none;
  width: 112px;
}

.btn--get {
  font-weight: bold;
}

.fea__or {
  margin-top: 10px;
}

/*********** stats ************/
.container--stats {
  display: flex;
}
.stats__left {
  display: flex;
  align-items: end;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  flex-grow: 1;
  flex-direction: column;
}
.stats__right {
  display: flex;
  justify-content: center;
  align-items: start;
  background: linear-gradient(101.48deg, #e9efff 41.56%, #e0e9ff 81.53%);
  flex-grow: 1;
  flex-direction: column;
}
.title--stats--left {
  margin: 0px;
  font-weight: normal;
  line-height: 83px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0px 90px 0px 0px;
}
.subtitle--stats--left {
  width: 260px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #ffffff;
  margin: 4px 90px 66px 0px;
}
.right__pic {
  width: 71px;
  height: 62px;
  margin: 70px 0px 12px 94px;
}
.title--stats--right {
  margin: 0px;
  font-family: Quicksand;
  font-size: 48px;
  line-height: 83px;
  color: #5e80ff;
  padding: 0px 0px 0px 90px;
}
.subtitle--stats--right {
  width: 260px;
  font-family: Quicksand;
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.03em;
  color: #5e80ff;
  margin: 4px 0px 66px 90px;
}
.left__pic {
  width: 65px;
  height: 66px;
  margin: 66px 90px 14px 0px;
}

/*********** Blog ************/
.section--blog {
  padding: 106px 0px 208px 0px;
  margin: 0 auto;
  background: #f5f8ff;
}
.container--blog {
  align-items: center;
  flex-direction: column;
}
.title--blog {
  margin-bottom: 92px;
}
.subtitle--blog {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}
.blog__content {
  display: flex;
  align-items: center;
  max-width: 1160px;
}
.content__page {
  display: flex;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #d8e3fe;
  box-sizing: border-box;
  box-shadow: 0px 15px 50px #eff4ff;
  margin: 0px 75px;
}
.content__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__arrow:last-child {
  transform: rotate(180deg);
}
.page__left {
  height: 270px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 13px 13px;
  padding: 63px 67px 63px 35px;
}
.page_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 65px 35px 65px 0px;
}
.page__pic:first-child {
  grid-area: 1 / 1 / span 2 / span 3;
}
.page__pic1,
.page__pic2,
.page__pic3 {
  border-radius: 5px;
}
.title--content {
  margin: 0px 0px 12px 0px;
}
.description--blog {
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 44px;
}
.arrow__pic {
  line-height: 1px;
}
.slider--blog {
  padding-top: 92px;
  position: absolute;
}

/*********** quotes ************/
.section--quotes {
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
  padding: 110px 0px 102px 0px;
}
.container--quotes {
  display: flex;
}
.quotes__left {
  /*position: relative;*/
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  /* padding: 26px 0px 0px 576px;*/
  margin: 0;
}

.title--quotes {
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
  margin-bottom: 4px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}

.subtitle--quotes {
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 22px 0px 32px 0px;
}

.description--quotes {
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #a4abc8;
}

.quotes__right {
  position: relative;
  /* max-width: 910px;*/
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676f95;
  flex-grow: 1;
  flex-basis: 0;
  left: 90px;
}
.slider__nav {
  display: flex;
  justify-content: center;
  padding-bottom: 28px;
}
.slider__view {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider__portal {
  display: flex;
  padding-bottom: 30px;
}

.slider__slide-message {
  padding: 36px 70px 40px 68px;
  background-color: #fff;
}

.slider__slide.slider__slide--shadow {
  border: 1px solid #d8e3fe;
  opacity: 0.45;
}

.slider__slide {
  position: relative;
}

.slider__slide-image {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider__nav {
  margin: 0 auto;
  position: relative;
  padding-top: 40px;
}

.slider__nav-item {
  background: #d1d6e3;
  width: 8px;
  height: 8px;
  border: 0px;
  border-radius: 50%;
}
.slider__nav-item + .slider__nav-item {
  margin-left: 8px;
}

.slider__nav-item.slider__nav-item--active {
  background: #5283ff;
}

.slider__slide--shadow {
  position: absolute;
  right: -100%;
  max-width: 600px;
}

.slider {
  position: relative;
}

.section--quotes {
  overflow: hidden;
}

/*********** customer_help ***********/

.customer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 174px 0px 174px 0px;
}

.subtitle--customer {
  margin-bottom: 22px;
}
.title--customer {
  margin-bottom: 50px;
}
.customer__questions {
  max-width: 728px;
}

.questions__item {
  display: flex;
  border-bottom: 1px solid;
  letter-spacing: 0.04em;
  color: #8e96b7;
  padding: 28px 0px 30px 0px;
  font-family: Quicksand;
}
.questions__item.questions__item--active {
  padding: 28px 0px 14px 0px;
  border-color: #8e96b7;
}
.questions__item-content {
  display: flex;
  align-items: center;
  padding: 8px 6px 20px 16px;
}

.description--customer {
  padding-top: 15px;
  margin: 0;
  letter-spacing: 0.01em;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  padding-right: 34px;
}

.questions__item:nth-of-type(3) {
  font-weight: bold;
  color: #495274;
}

.questions__icon-wraper {
  padding-right: 22px;
  padding-left: 16px;
}

.questions__item.questions__item--active .questions__vektor {
  transform: rotate(180deg);
}
.btn--secondary.btn--long {
  color: #7382a3;
  background: #e8ecf4;
}
/*********** Get started ***********/

.section.section--get-start {
  padding: 80px 0px 88px 0px;
  background-image: url(../img/content.jpg);
  background-position: center;
  background-size: cover;
}
.container--get {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 0 54px 0;
}
.section--get-start .title,
.section--get-start .subtitle {
  color: white;
}
.section.section--get-start .description {
  max-width: 712px;
  margin: 0 auto 54px;
}
.subtitle--get {
  padding-bottom: 24px;
}
.title--get {
  font-size: 48px;
  margin-bottom: 30px;
}
.description--get {
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.btn-group {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn.btn--price {
  font-weight: bold;
  background-color: #ffffff;
  color: #565f82;
  border: 0;
  padding-left: 26px;
  padding-right: 26px;
}
.btn.btn--read-doc {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  color: #c7d3ff;
  border: 1px solid #c7d3ff;
}
.btn-group .btn:not(:last-child) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn-group .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*********** newsletter ***********/
.section--newsletter {
  border-bottom: 1px solid #d8e3fe;
}
.container--newsletter {
  display: flex;
  align-items: center;
  padding: 110px 0px 122px 0px;
}

.newsletter--left {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin-right: 70px;
}

.subtitle--newsletter {
  margin: 12px 0px 14px 172px;
  letter-spacing: 0.01em;
  font-size: 18px;
}
.discription--newsletter {
  margin: 0px 0px 0px 174px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  font-size: 14px;
}

form {
  display: flex;
  padding-top: 14px;
}
.newsletter__form {
  margin-right: 80px;
}
.e-mail {
  margin: 0px 16px 0px 34px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  color: #7a85ad;
  background: #efeff7;
  font-weight: 700;
  padding: 0px 75px 0px 26px;
}

.btn.btn--submit {
  height: 59px;
  background: #4d6ce1;
  color: #fff;
  padding: 16px 66px;
  border-radius: 5px;
  border: none;
}

/*********** footer ***********/
.footer {
  background: #ffffff;
  padding: 92px 0px 16px 0px;
}
.footer .container {
  display: flex;
}*

.footer__left {
  padding-right: 364px;
}
.footer__left,
.footer__right {
  display: flex;
  align-items: center;
}
.logo {
  height: 26px;
  width: 26px;
  background-color: #5e81fe;
  border: 0px;
  border-radius: 50%;
  margin-right: 73px;
}
.menu {
  display: none;
}
.menu__item {
  color: #697ca6;
  font-weight: 600;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.04em;
}
.menu__item:not(:last-child) {
  margin-right: 42px;
}

.menu__item:hover {
  color: #2750a7;
  cursor: pointer;
}

.menu__item--active {
  color: #3a79ff;
}

.btn.btn--primary {
  color: #3a79ff;
  background: #d2e1ff;
  border-radius: 2px;
  border: 0px;
  padding: 13px 16px;
  height: 43px;
}

.btn.btn--primary:hover {
  cursor: pointer;
}

.socials {
  display: flex;
  align-items: center;
  margin-right: 44px;
}

.social + .social {
  margin-left: 35px;
}
.Copyright {
  position: relative;
  left: 446px;
  padding-bottom: 90px;
}
.cop__text {
  color: #aeb8d0;
  font-size: 12px;
  letter-spacing: 0.08em;
  margin-left: 99px;
}
@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .menu {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1400px) {
}
